<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_code }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());xz
  gtag('config', '{{ site.google_analytics_code }}');
</script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include geturl.html %}
    {% for guidelineset in site.data.guidelinesets %}
        {% if guidelineset.directory == current_directory %}
            {% if guidelineset.secret == secret_directory %}

            <link rel="manifest" href="{{ site.baseurl }}/{{ guidelineset.directory }}/{{ guidelineset.secret }}/img/favicon/site.webmanifest" crossorigin="use-credentials">
            <link rel="{{ site.baseurl }}/{{ guidelineset.directory }}/{{ guidelineset.secret }}/img/favicon.ico">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/{{ guidelineset.directory }}/{{ guidelineset.secret }}/img/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/{{ guidelineset.directory }}/{{ guidelineset.secret }}/img/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/{{ guidelineset.directory }}/{{ guidelineset.secret }}/img/favicon/favicon-16x16.png">
            <link rel="mask-icon" href="{{ site.baseurl }}/{{ guidelineset.directory }}/{{ guidelineset.secret }}/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
            <link rel="shortcut icon" href="{{ site.baseurl }}/{{ guidelineset.directory }}/{{ guidelineset.secret }}/img/favicon/favicon.ico">
            <meta name="msapplication-config" content="{{ site.baseurl }}/{{ guidelineset.directory }}/{{ guidelineset.secret }}/img/favicon/browserconfig.xml">

            {% endif %}
        {% endif %}
    {% endfor %}

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/custom.css' | prepend: site.baseurl }}">
  <noscript><style>fade{opacity:1 !important}</style></noscript>
  {%- feed_meta -%}
</head>
