.emergency{
  color: red;
}
.emergency:hover{
  color: red;
}
.emergency:visited{
  color: red;
}
.emergency:focus{
  color: red;
}

.searchresult{
  margin: 0 0 0 5px;
  font-size: smaller;
  color: cornflowerblue;
  display:list-item;
  list-style-type: square;
}

.container {
  /*
    redefine bootstrap container
    to have padding 0
    in order to make
    best use of screen space
  */
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.applink {
  margin: -10px 0px 5px 20px;
}

.installpic{
    width: 1em;
    height: 1em;
    margin: 3px 3px 0px 0px;
    vertical-align: -0.1em;
}

.navbar-brand {
    padding-left: 20px;
}